<h1 class="ui header">Billboard top 100 artist</h1>
   <%= link_to "New billboard", new_billboard_path %>
   <div class="ui divider"></div>
<table class="ui striped table">
  <thead>
     <tr class="center aligned">
     <th colspan="4"></th>
     </tr>
     </thead>

<tbody>     
  <% @billboards.each do |billboard| %>
    <tr class="center aligned" >

   <h1><%= billboard.title %></h1>
     <td><%= link_to "Artist", artists_path %></td>
     <td><%= link_to "Edit Billboard", edit_billboard_path(billboard) %></td>
       <td><%= link_to "Delete Billboard", billboard_path(billboard), method: :delete %></td>
      </td>
     </tr>
   <% end %>
   </tbody>
   </table>

   <br />
