<h1><%= @billboard.title %></h1>
<hr />
<%= link_to "Create Artist", new_artist_path(@billboard) %>
<%= link_to "View Artist", artist_path(@billboard) %>
<br />
<%= link_to "Edit Artist", edit_artist_path(@billboard) %>
<br />
<%= link_to "Delete Artist", @billboard, method: :delete %>
